node_modules/
**/node_modules/

.env
.env.local
.env.*.local
.env.production
.env.test
.env.development

.DS_Store
Thumbs.db
*.swp
*.swo

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

coverage/
*.lcov
.nyc_output/

.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.code-workspace

frontend/build/
frontend/.cache/
frontend/.next/
frontend/.parcel-cache/
frontend/.vite/
frontend/dist/

backend/dist/
backend/.cache/
backend/.parcel-cache/
backend/.vite/
backend/node_modules/.cache/mongodb-memory-server/

build/
dist/
.cache/

*.bak
*.tmp
*.old
*.orig
*~

.vscode/

note.txt
Notes.txt

note*.txt

pcbuild.txt